.card-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 180px;
}

form{
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
}

button{
    margin-top: 5px;
}